body
{
    color: rgb(5, 49, 5);
    text-align: center;
    font-family: calc();
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#Cabecera {

    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    box-shadow: 0px 0px 8px 0px rgb(0, 0, 0, 0.75);
    background-color: green;

}

#Cabecera #Tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#Container {

    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgba(33, 33, 33, 0.286);
    margin: 0 auto;
}

#Container h1 {

    font-size: 20px;
}